html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF721;
}
canvas {
  display: block;
   margin: auto;
}

h1{
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  color: #011B1E;
}

button {
  background-color: white;
  color: red;
  font-weight: bold;
}

#button-holder {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  justify-content: center;
}

p {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
